.big-button {
  background: $crimson;
  border: none;
  border-bottom: 0.6rem solid darken($crimson, 10%);
  color: white;
  font-size: $l-size;
  font-weight: bold;
  width: 100%;
  padding: $l-size 0;
  margin-bottom: $m-size;
}

.big-button:disabled {
  opacity: .5;
}

@media (min-width: $desktop-breakpoint) {
  .big-button {
    margin-bottom: $xl-size;
  }
}

.button {
  background: $crimson;
  border: none;
  border-bottom: 0.3rem solid darken($crimson, 10%);
  color: white;
  font-weight: 500;
  padding: $s-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}
